@import url('https://fonts.googleapis.com/css2? family= Share+Tech & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Six+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Poiret+One&family=Six+Caps&display=swap');
/*========================geral==========================*/


:root {
    --gray-color: #0D0D0D;
    --dark-color: #000000;
    --light-color:  #FFFFFF;
    --back-color: #F7F8F9;
    --blue-color: #9acff0;
    --orange-light-color:#071d3adc;
    --dark-blue: #1e2b32;
  }

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    text-decoration: none;
    box-sizing: border-box;
    padding:0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    background-color: var(--light-color);
}


.button{
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--blue-color);
  color: var(--light-color);
  padding: 11px 18px;
  border: none;
  transition: .2s;
  border-radius: 20px;
  
}
.button:hover{
  border: 1px solid var(--light-color);
  background-color: transparent;
}

.btn2-inicio{
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--light-color);
  padding: 11px 50px;
  border: 1px solid var(--light-color);
  border-radius: 20px;
  
}
.btn2-inicio:hover{
  background-color: var(--blue-color);
  color: var(--light-color);
  border: none;
  transition: .3s;
}


/*=======================cabeçalho=======================*/

header {
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    position: fixed;
    top: 0;
    padding: 0 100px;
    width: 100%;
    background-color: var(--gray-color);
    z-index: 1;  
}

header.ativo{
  
    top: 0;
    transition: .5s;
}

header .logo {
  padding-top: 6px;
  width: 150px;
}

#menu-web {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 60px; 
}

#menu-web a { 
  text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--light-color);
 
}

#menu-web a:hover{
    color: var(--blue-color);
    transition: .3s;
}

#menu-web .btn-contact{
  border: 2px solid;
  border-radius: 15px;
  padding: 5px 15px;
  border-color: var(--blue-color);
}

#botao-mobile{
    display: none;
}


/*=======================CTT SECTION =======================*/

#ctt_section{
height: 50vh;
background-image: linear-gradient(rgba(0, 0, 0, 0.795), rgba(0, 0, 0, 0.678)), url("/img/atendimento-digital.jpg");
background-size: cover;
}

.text-ctt{
    
    padding: 8% 50px;
    text-align: center;
}

.text-ctt h1{
    font-size: 40px;
    color: var(--light-color);
    text-transform: uppercase;
    padding-bottom: 15px;
   }
   
   .text-ctt p{
    font-size: 20px;
    padding: 0 20%;
    color: var(--back-color);
    padding-bottom: 40px;
   }


   .btn-telefone {
    background-color: rgb(124, 193, 240);
    border: none;
    border-radius: 20px;
    color: var(--light-color);
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 12px 20px;
    }

.btn-icon-telefone-section {
width: 30px;
padding-right: 10px;
}





/*===================== seção info ===================*/



  .txt-cobertura {
    color: var(--dark-color);
    font-size: 20px;
    text-align: center;
    padding: 50px 10px 0;
  }
  
#info_section{
    padding: 60px 90px;
    height: 40vh;
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
  
  #info_section h1{
    font-size: 20px;
    padding: 10px 70px;
    text-align: center;
  }
  .text-info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
  }
  
  .logo-info {
    width: 400px;
   
  }
  
  /*===================== mapa seção ===================*/
  
  #mapa_section{
   
    height: 70vh;
    
  }
  .links-mapa  {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 20px;
    justify-content: center;
  }
  
  .links-mapa a {
    text-align: center;
    font-size: 20px;
    color: var(--dark-color);
  
  }
  
  
  .links-mapa i {
    text-align: center;
    font-size: 20px;
    color: var(--dark-blue);
  
  }
  
  
  .icon-mapa{
    width: 25px;
    
  }
  
  .map-box{
    padding-top: 30px;
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .map-box iframe{
    width: 100%;
    height: 80%;
  
  
  }
  
  
  /*===================== footer ===================*/
  
  footer{
      background-color: var(--gray-color);
      color: var(--light-color);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 15px;
      height: 80px;
  }